.vscode
_DS_Store
.bin/
vendor
config-db
scraped/

tests/log.txt

.config-db
ginkgo.report

config-db.properties

*.gob
*.out
*.test

output-*/
configs/
*.pprof

# Rust
external/diffgen/target

# For AI agents
TODO.md
.envrc
.db/
bin/
out/
._DS_Store
