apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "config-db.name" . }}
  labels: {{- include "config-db.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicas }}
  selector:
    matchLabels: {{- include "config-db.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels: {{- include "config-db.selectorLabels" . | nindent 8 }}
    spec:
      serviceAccountName: {{ template "config-db.serviceAccountName" . }}
      containers:
        - name: {{ include "config-db.name" . }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          livenessProbe:
            failureThreshold: 3
            httpGet:
              path: /live
              port: 8080
              scheme: HTTP
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 1
          readinessProbe:
            failureThreshold: 3
            httpGet:
              path: /ready
              port: 8080
              scheme: HTTP
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 1
          command:
            - /app/config-db
          args:
            - operator
            - -v
            - --disable-postgrest={{ .Values.disablePostgrest }}
            - --change-retention-days={{ .Values.configChangeRetentionDays }}
            - --analysis-retention-days={{ .Values.configAnalysisRetentionDays }}
          env:
            - name: DB_URL
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.db.secretKeyRef.name }}
                  key: {{ .Values.db.secretKeyRef.key }}
            - name: NAMESPACE
              value: {{ .Values.namespace | default .Release.Namespace }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      {{- with .Values.extra }}
      {{- toYaml . | nindent 6 }}
      {{- end }}
