apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "config-db.name" . }}-sa
  labels:
    {{- include "config-db.labels" . | nindent 4 }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ include "config-db.name" . }}-rolebinding
  labels:
    {{- include "config-db.labels" . | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ include "config-db.name" . }}-role
subjects:
  - kind: ServiceAccount
    name: {{ include "config-db.name" . }}-sa
    namespace: {{ .Release.Namespace }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "config-db.name" . }}-role
  labels:
    {{- include "config-db.labels" . | nindent 4 }}
rules:
- apiGroups:
  - '*'
  resources:
  - '*'
  verbs:
  - "list"
  - "get"
  - "watch"
- apiGroups:
  - configs.flanksource.com
  resources:
  - scrapeconfigs
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - configs.flanksource.com
  resources:
  - scrapeconfigs/finalizers
  verbs:
  - update
- apiGroups:
  - configs.flanksource.com
  resources:
  - scrapeconfigs/status
  verbs:
  - get
  - patch
  - update
# Leader election
- apiGroups:
  - ""
  resources:
  - configmaps
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - coordination.k8s.io
  resources:
  - leases
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch
- apiGroups:
  - ""
  resources:
  - pods/exec
  verbs:
  - create