on: pull_request
name: Build

permissions:
  contents: read
jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Free up disk space
        run: |
          initial_space=$(df / | grep / | awk '{print $4}')
          docker system prune -af
          rm -rf /usr/share/dotnet
          rm -rf /opt/ghc
          rm -rf /usr/local/share/boost
          rm -rf $AGENT_TOOLSDIRECTORY
          rm -rf /opt/hostedtoolcache

          final_space=$(df / | grep / | awk '{print $4}')
          difference=$((final_space - initial_space))
          echo "Disk space difference (in KB): $difference"

      - name: Build Container
        run: make docker
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
